.options{
    margin:5%;
}
/*

https://www.youtube.com/watch?v=pGEcBBjvRlU&list=PL5e68lK9hEzeJyVEeZICW8oJLmH3l3iw6&index=10

https://www.youtube.com/watch?v=9mqtTh7mgwM&list=PL5e68lK9hEzdWRov2TDpGRczS80s4_IJj&index=3

https://www.youtube.com/watch?v=d071ZRyZlyM&list=PL5e68lK9hEzdytzRcmIYqlha95w9sLN3P

.opt-btn{
position: relative;
display: inline-block;
padding: 10px 30px;
text-decoration: none;
font-weight: 500;
letter-spacing: 2px;
color:#5a84a2;
border-radius: 40px;
font-size: 18px;
box-shadow: -2px -2px 9px rgba(255,255,255,1),
            -2px -2px 12px rgba(255,255,255,0.5),
            inset 2px 2px 4px rgba(255,255,255,0.1),
            2px 2px 8px rgba(0,0,0,0.15);
}
.opt-btn:hover{
    box-shadow: inset -2px -2px 9px rgba(255,255,255,1),
            inset -2px -2px 12px rgba(255,255,255,0.5),
            inset 2px 2px 4px rgba(255,255,255,0.1),
           inset 2px 2px 8px rgba(0,0,0,0.15);
}

.opt-btn:hover span{
    display: inline-block;
    transform: scale(0.98);
}
*/