.my{
  padding:10px;
  width: auto;
}

.myname{
color:  #1e022e;
font-family: "Roboto", sans-serif;
font-size: 35px;
margin: 0 0 8px 0;
}
.mynameRahul{
  color:#00cdac;
}



body {
  background: #e8eff5;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  margin: 0;
}
/* back btn */
.backbtn{
  background: #e8eff5;
  color: #5c5c5c;
  height: auto;
  position: absolute;
  bottom: 15px;
  width: fit-content;
  padding: 10px;
  margin: 10px 15px 10px 25px;
  border-radius: 15px;
  display: flex;
  cursor: pointer;
  transition: all 400ms;
  font-size: 15px;
  box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #fff,
    inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);

}
.backbtn:hover {
  box-shadow: 4px 2px 18px #bbcfda, -4px -4px 13px #fff,
    inset 6px 6px 16px rgba(209, 217, 230, 0.8),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  transform: translateY(2px);
}
/* lang card css start */

.testimonials
{
  margin: 15px 20px;
}
.testimonials .card
{
  position: relative;
  width: 250px;
  margin: 0 auto;
  background: #e8eff5;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
  overflow: hidden;
  box-sizing: border-box;
}
.testimonials .card .layer
{
  z-index: 1; 
  position: absolute;
  width: 100%;
  top: calc(100%  - 2px);
  height: 100%;
  left: 0;
  background: linear-gradient(#03a9f4,#e91ee3);
  transition: 0.5s;
}
.testimonials .card:hover .layer
{
 
  top: 0;
}
.testimonials .card .content
{
  position: relative;
  z-index: 2;
}
.testimonials .card .content p
{
  font-size: 24px;
  font-weight: 600;
  margin: 5px 0 10px 0;
  font-family: sans-serif;
  line-height: 24px;
  color:#FF5733;
}
.testimonials .card:hover .content p
{
 
  color:#fff;
}
.testimonials .card .content .image
{ 
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 0%;
  overflow: hidden;
  border: 0px solid #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.testimonials .card .content .details h2
{
  font-size: 15px;
  margin: 5px 0 0 0;
  color: #03a9f4;
}
.testimonials .card:hover .content .details h2
{
  font-size: 15px;
  color: #fff;
}
.testimonials .card .content .details h2 span
{
  color:#e91ee3 ;
  margin: 5px 0 0 0;
  font-size: 14px;
  transition: 0.5s;
}
.testimonials .card:hover .content .details h2 span
{
  
  color: #fff;
}


/*
section{
  height:500px;
  width: auto;

 background-color: #e8eff5;

}
img{
  max-width:40%;
}

.set{
   padding: 10px;
    width: 80%;
    height: auto;
  
}


.set div{
  position: absolute;
  display: block;
 
}
.set div:nth-child(1)
{
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}
.set div:nth-child(2)
{
  left: 40%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}
.set div:nth-child(3)
{
  left: 60%;
  animation: animate 25s linear infinite;
}
.set div:nth-child(4)
{
  left: 10%;
  animation: animate 18s linear infinite;
  animation-delay: -5s;
}

.set div:nth-child(5)
{
  left: 30%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}
.set div:nth-child(6)
{
  left: 45%;
  animation: animate 12s linear infinite;
 
}
.set div:nth-child(7)
{
  left: 65%;
  animation: animate 14s linear infinite;
  
}
.set div:nth-child(8)
{
  left: 75%;
  animation: animate 22s linear infinite;
  animation-delay: -4s;
}

@keyframes animate
{
  0%
  { opacity: 0;
    top:0%;
    transform: translateX(20px) rotate(0deg);
  }
  10%
  { opacity: 1;
  }
  20%
  { transform: translateX(-20px) rotate(45deg);
  }
  40%
  { transform: translateX(-20px) rotate(90deg);
  }
  60%
  { transform: translateX(20px) rotate(135deg);
  }
  80%
  { transform: translateX(-20px) rotate(180deg);
    opacity: 1;
  }
  100%
  {
    top:80%;
    opacity: 0;
    transform: translateX(-20px) rotate(225deg);
  }
}

.set2{
  
 transform: scale(2) rotateX(180deg);
  filter: blur(2px);
}

.set3{
  transform: scale(0.8) rotateY(180deg);
  filter: blur(4px);

}
import ol from "./images/ol.PNG";
import rl from "./images/rl.PNG";

import yl from "./images/yl.png";
import bl from "./images/bl.PNG";


 <section>
                   
                     <div class="set">
                       <div><img src={yl} alt={" "}/> </div>
                       <div><img src={rl} alt={" "} /> </div>
                       <div><img src={ol} alt={" "} /> </div>
                       <div><img src={bl} alt={" "} /> </div> 
                       <div><img src={yl} alt={" "} /> </div>
                       <div><img src={rl} alt={" "} /> </div>
                       <div><img src={ol} alt={" "} /> </div>
                       <div><img src={bl} alt={" "} /> </div>
                     </div>
                     
                     <div class="set set2">
                       <div><img src={yl} alt={" "} /> </div>
                       <div><img src={rl} alt={" "} /> </div>
                     
                       <div><img src={ol} alt={" "} /> </div>
                       <div><img src={bl} alt={" "} /> </div> 
                       <div><img src={yl} alt={" "} /> </div>
                       <div><img src={rl} alt={" "} /> </div>
                       
                       <div><img src={ol} alt={" "} /> </div>
                       <div><img src={bl} alt={" "} /> </div>
                     </div>
                     <div class="set set3">
                       <div><img src={yl} alt={" "} /> </div>
                       <div><img src={rl} alt={" "} /> </div>
                      
                       <div><img src={ol} alt={" "} /> </div>
                       <div><img src={bl} alt={" "} /> </div> 
                       <div><img src={yl} alt={" "} /> </div>
                       <div><img src={rl} alt={" "} /> </div>
                      
                       <div><img src={ol} alt={" "} /> </div>
                       <div><img src={bl} alt={" "}  /> </div>
                     </div>
                    </section>

h2{ 
 
  text-align: center;
   
  color: #3385ff;
  margin: 50% 0 0 0;
  padding: 0;
  font-size: 40px;
  font-family: sans-serif;
}

/*
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 48px 0;
  color: #525252;
}
*/
.qselect{
  margin: 15px 10px 5px 10px;
  padding: 0 10px 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #e8eff5 ;
  width: fit-content;
  background-color: #26db62;
  border-radius: 10px ;

}
.btn-container {
  display: flex;
}
.rightinside{
  padding: 20px;
  font-size: 25px;
  height:500px;
  width: auto;
  border-radius: 15px;
    box-shadow: inset -2px -2px 9px rgba(255,255,255,1),
            inset -2px -2px 12px rgba(255,255,255,0.5),
            inset 2px 2px 4px rgba(255,255,255,0.1),
           inset 2px 2px 8px rgba(0,0,0,0.15);
}

.rightinside span{
  display: inline-block;

}
.qrightinside span{
    display: inline-block;
  
}
.qrightinside{
  padding: 20px;
  font-size: 25px;
  height:500px;
  width: auto;
  border-radius: 15px;
    box-shadow: inset -2px -2px 9px rgba(255,255,255,1),
            inset -2px -2px 12px rgba(255,255,255,0.5),
            inset 2px 2px 4px rgba(255,255,255,0.1),
           inset 2px 2px 8px rgba(0,0,0,0.15);
}


.ques{
  padding: 10px 0 10px 0;
  
  color:#3385ff;
}
.qsbtn{
  background: #e8eff5;
  color: #5c5c5c;
  height: auto;
  width: auto;
  padding: 10px;
  
  margin: 20px 35px 10px 35px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  font-size: 15px;
  box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #fff,
    inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);

}
.qsbtn:hover {
  box-shadow: 4px 2px 18px #bbcfda, -4px -4px 13px #fff,
    inset 6px 6px 16px rgba(209, 217, 230, 0.8),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  transform: translateY(2px);
}
.newqsbtn{
  background: #e8eff5;
  color: #5c5c5c;
  height: auto;
  width: auto;
  padding: 10px;
  
  margin: 12px 35px 12px 35px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  font-size: 15px;
  box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #fff,
    inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);

}
.newqsbtn:hover {
  box-shadow: 4px 2px 18px #bbcfda, -4px -4px 13px #fff,
    inset 6px 6px 16px rgba(209, 217, 230, 0.8),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  transform: translateY(2px);
}
.lsbtn{
  background: #e8eff5;
  color: #FF5733;
  height: auto;
  width: auto;
  padding: 5px;

  margin: 10px 50px 10px 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  font-size: 20px;
  box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #fff,
    inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);

}
.lsbtn:hover {
  box-shadow: 4px 2px 18px #bbcfda, -4px -4px 13px #fff,
    inset 6px 6px 16px rgba(209, 217, 230, 0.8),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  transform: translateY(2px);
}
/*
.rbtn{
  background: #e8eff5;
  height: 60px;
  width: 80px;
  margin: 0 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;

  box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #fff,
    inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);
}
*/
.options{
  margin:5%;
}
.btn {
  background: #e8eff5;
  height: 60px;
  width: 80px;
  margin: 5px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;

  box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #fff,
    inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);
}
.rbtn i {
  font-size: 40px;
  color: #727272;
  transition: all 400ms;
}
.btn i {
  font-size: 40px;
  color: #727272;
  transition: all 400ms;
}

.btn:hover i {
  transform: scale(0.96);
}

.btn:hover {
  box-shadow: 4px 2px 18px #bbcfda, -4px -4px 13px #fff,
    inset 6px 6px 16px rgba(209, 217, 230, 0.8),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  transform: translateY(2px);
}

/* animated button gradient

.abtn{
  background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
  border-radius: 30px;
}

.abtn {

  transform: translate(-0,-0);
 width: auto;
 height:auto;
 text-align: center;
 padding: 5px 0px 5px 0px;
 color: #fff;
 font-size: 18px;
 
 text-decoration: none;
 font-family: 'Calibri';
 box-sizing: border-box;
 background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
 background-size: 400%;
 border-radius: 30px;

}
.abtn:hover {
 animation: animate 8s linear infinite;
}
@keyframes animate {
 0% {
  background-position: 0%;
 }
 100% {
  background-position: 400%;
 }
}
.abtn:before {
 content: '';
 position: absolute;
 top: -2px;
 bottom: -2px;
 right: -2px;
 left: -2px;
 z-index: -1;
 background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
 background-size: 400%;
 border-radius: 40px;
 filter: blur(20px);
 opacity: 0;
 transition: 0.5s;
}
.abtn:hover:before {
 filter: blur(20px);
 opacity: 1;
 animation: animate 8s linear infinite;
}*/